footer.footer
    .container
        .columns
            .column
                h5.title.is-5 Contact
                ul.nav
                    li.nav-item
                        a(href='#')
                            span Linnaeusstraat 60hs
                            br
                            span 1092CM Amsterdam
                    li.nav-item
                        a(href='mailto:info@computerdokter.nl')
                            | info@computerdokter.nl
                    li.nav-item
                        a(href='tel:+31206922525')
                            | +31 (0)20 692 2525

            .column
                h5.title.is-5 Bedrijfsgegevens
                ul.nav
                    li.nav-item
                        strong KVK
                        span 590 332 23
                    //- li.nav-item
                    //-     strong BTW
                    //-     span NL 
                    li.nav-item
                        strong IBAN
                        span NL91ABNA 3013 1387 1285

            .column
                h5.title.is-5 Openingstijden
                ul.nav
                    li.nav-item
                        strong MA
                        span 10:00 - 17:00
                    li.nav-item
                        strong DI
                        span 10:00 - 18:00
                    li.nav-item
                        strong WO
                        span 10:00 - 18:00
                    li.nav-item
                        strong DO
                        span 10:00 - 18:00
                    li.nav-item
                        strong VR
                        span 10:00 - 18:00
                    li.nav-item
                        strong ZA
                        span 10:00 - 17:00
                    li.nav-item
                        strong ZO
                        span Gesloten