$color-primary: rgb(180, 0, 0);
$color-secondary: rgb(50, 50, 50);

$color-background: white;
$color-background-contrast: #333;
$color-shadow: #333;
$color-text: #333;
$color-text-contrast: #fff;

$height-menu: 80px;
$spacing: 1.2rem;
$border-radius: 5px;
$shadow-default: 0 5px 15px rgba($color-text, .5);